.songs {
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  padding-top: 10px;
}
.song_text {
  display: flex;
  font-size: 20px;
  font: bolder;
}
.add_button {
  cursor: pointer !important;
  width: 100px;
  background-color: rgb(243, 178, 15);
  border: none;
  padding: 6px 0;
  border-radius: 8px;
}
